<html>
    <head>
      <title>Cucumber Report</title>
    </head>
  <body>
    <div id="reportOverview">
      <div id="calendar"></div>
    </div>
    <div id="reportDetails">
      <ul id="feature_list">
        <li class="feature entry">
          <div class="feature">
            <div class="featureResult">

            </div>
            <div class="featureDetail">
              <div class="featureName"></div>
              <div class="featureDescription"></div>
            </div>
          </div>
          <div class="steps">

          </div>
        </li>
      </ul>
    </div>
  </body>
</html>